<mat-toolbar color="primary" role="heading" class="justify-content-between">
    <div class="buttons">
        <button mat-icon-button (click)="moveSideNav()">
            <mat-icon color="accent">widgets</mat-icon>
        </button>
        <button mat-icon-button (click)="changeTheme()">
            <mat-icon color="accent">{{theme === 'darkTheme' ? 'dark_mode':'light_mode'}}</mat-icon>
        </button>
    </div>
    <div class="title">My App</div>
    <div class="logOut">
        <button mat-mini-fab color="accent" (click)="onLogout()" class="class.mat-elevation-z0">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>