<h2>Bienvenido Usuario</h2>
<div class="row g-4 py-4 justify-content-center">
    <div class="col-3">
        <mat-card>
            <mat-card-title class="text-center">Propietarios</mat-card-title>
            <mat-card-content class=" h-75 d-flex justify-content-center align-items-center">
                <p class="h1">{{owners.length}}</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-3">
        <mat-card>
            <mat-card-title class="text-center">Inmuebles</mat-card-title>
            <mat-card-content class=" h-75 d-flex justify-content-center align-items-center">
                <p class="h1">{{properties.length}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>