<div class="d-flex justify-content-center">
    <div class="content">

        <h3 class="h2 pt-4">Nombre del propietario</h3>
        <div class="cards pt-3">
            <mat-card class="row">

                <mat-form-field class="col-4">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="¿Cómo se llama?">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="Indicanos sus apellidos">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <mat-label>DNI / NIF / CIF</mat-label>
                    <input matInput placeholder="Ahora la identificación...">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput placeholder="¿Cuándo es su cumpleaños?">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Género</mat-label>
                    <mat-select panelClass="text-white bg-dark">
                        <mat-option value="masc">Hombre</mat-option>
                        <mat-option value="fem">Mujer</mat-option>
                        <mat-option value="other">Otro</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card>
        </div>
    </div>
</div>