$primary: (Main:#283593,
  Light:#5f5fc4,
  Dark: #001064,
  contrast: (Main: #f5f5f5,
    Light: #000,
    Dark: #fff));

$accent: (Main:#00bfa5,
  Light:#5df2d6,
  Dark: #008e76,
  contrast: (Main: #f5f5f5,
    Light: #000,
    Dark: #fff));

$warn: (Main:#ef5350,
  Light:#ff867c,
  Dark: #b61827,
  contrast: (Main: #f5f5f5,
    Light: #000,
    Dark: #fff));


$theme-primary: mat-palette($primary, Main, Light, Dark);
$theme-accent: mat-palette($accent, Main, Light, Dark);
$theme-warn: mat-palette($warn, Main, Light, Dark);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$light-theme: mat-light-theme($theme-primary,
  $theme-accent, $theme-warn)
