$primary: (Main:#c0cccc,
  Light:#c0cccc,
  Dark: #c0cccc,
  contrast: (Main: #f5f5f5,
    Light: #000,
    Dark: #fff));

$accent: (Main:#d6c2bc,
  Light:#d6c2bc,
  Dark: #d6c2bc,
  contrast: (Main: #f5f5f5,
    Light: #000,
    Dark: #fff));

$warn: (Main:#ef5350,
  Light:#ff867c,
  Dark: #b61827,
  contrast: (Main: #f5f5f5,
    Light: #000,
    Dark: #fff));


$theme-primary: mat-palette($primary, Main, Light, Dark);
$theme-accent: mat-palette($accent, Main, Light, Dark);
$theme-warn: mat-palette($warn, Main, Light, Dark);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$light-theme: mat-light-theme($theme-primary,
  $theme-accent, $theme-warn)
