.lightTheme mat-toolbar {
  box-shadow: 0px 1px 7px 1px grey;
}

.darkTheme mat-toolbar {
  box-shadow: 0px 1px 7px 1px black;
}

mat-sidenav-content {
  height: 100vh;
}

mat-list-item {
  cursor: pointer;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
