<header>
    <mat-toolbar class="justify-content-center" color="primary" role="heading">
        <span class="h2">My App</span>
    </mat-toolbar>
</header>
<main>
    <div class="row mt-5">
        <mat-tab-group mat-stretch-tabs dynamicHeight class="col-8 offset-2" mat-align-tabs="center" color="accent">
            <mat-tab label="Iniciar Sesión">
                <mat-card class="login">
                    <div class="row">
                        <div class="col-6 text-center">
                            <mat-card-actions class="loginForm">
                                <h4>¡Hola de Nuevo!</h4>
                                <form [formGroup]="loginForm" class="pt-3" (ngSubmit)="onSubmit()">
                                    <mat-form-field class="input-login-width" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field class="input-login-width" appearance="outline">
                                        <mat-label>Contraseña</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <button class="w-75" mat-raised-button color="accent">Iniciar
                                        Sesión</button>
                                </form>
                            </mat-card-actions>
                        </div>
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <mat-card-actions>
                                <div id="g_id_onload"
                                    data-client_id="165326546525-tcr0qd5vbnjlq3d593u0kctel6a8kf69.apps.googleusercontent.com"
                                    data-context="use" data-ux_mode="redirect"
                                    data-login_uri="http://localhost:3000/api/users/googleaccount"
                                    data-auto_prompt="false">
                                </div>
                                <div class="g_id_signin" data-type="standard" data-shape="rectangular"
                                    data-theme="outline" data-text="signin_with" data-size="large"
                                    data-logo_alignment="center" data-width="250">
                                </div>
                            </mat-card-actions>
                        </div>
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="¡Registrate!">
                <mat-card class="register">
                    <div class="row">
                        <div class="col-8 offset-2 text-center">
                            <mat-card-actions class="registerForm">
                                <h4>¡Bienvenido!</h4>
                                <form [formGroup]="loginForm" class="pt-3" (ngSubmit)="onSubmit()">
                                    <div class="row g-2">
                                        <div class="col-6">
                                            <mat-form-field class=" input-register-width" appearance="outline">
                                                <mat-label>Nombre</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class=" input-register-width" appearance="outline">
                                                <mat-label>Apellidos</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12">
                                            <mat-form-field class=" input-register-width" appearance="outline">
                                                <mat-label>Email</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12">
                                            <mat-form-field class="input-register-width" appearance="outline">
                                                <mat-label>Contraseña</mat-label>
                                                <input matInput [type]="hide ? 'password' : 'text'">
                                                <button mat-icon-button matSuffix (click)="hide = !hide">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12">
                                            <mat-form-field class="input-register-width" appearance="outline">
                                                <mat-label>Repite la contraseña</mat-label>
                                                <input matInput [type]="hide ? 'password' : 'text'">
                                                <button mat-icon-button matSuffix (click)="hide = !hide">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="input-register-width" appearance="outline">
                                                <mat-label>Telefono</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field palceholder="C/ Falsa 123, piso 17 28043 Madrid"
                                                class=" input-register-width" appearance="outline">
                                                <mat-label>Dirección</mat-label>
                                                <input matInput palceholder="C/ Falsa 123, piso 17 28043 Madrid">
                                            </mat-form-field>
                                        </div>
                                        <button class="w-100" mat-raised-button color="accent">¡Listo!</button>
                                    </div>
                                </form>
                            </mat-card-actions>
                        </div>
                    </div>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>
</main>
<footer>
</footer>