@import '~@angular/material/theming';

@include mat-core();

@import './app/themes/light_theme.scss';
@import './app/themes/dark_theme.scss';

//import the custom component theme files



//includ them in general mixin
@mixin custom-components-theme($theme) {}


.lightTheme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}

.darkTheme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}


/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none;
  min-height: 100vh;
}
